<% const menuAdmin = [{name:'หน้าหลัก', url:'/api/mainpage', icon:'fa-home'}, {name:'ประวัติผู้ใช้งาน', url:'/api/adminhistory', icon:'fa-user'}, {name:'โปรไฟล์', url:'/api/User_history', icon:'fa-user'}, {name:'แดชบอร์ด', url:'/api/dashboard',icon:'fa-dashboard'}, {name:'ครุภัณฑ์', url:'/api/asset', icon:'fa-archive'}, {name:'ข่าวประชาสัมพันธ์', url:'/api/announce', icon:'fa-bullhorn'}, {name:'จัดการผู้ใช้', url:'/api/manageUser', icon:'fa-edit'}, {name:'จัดการเวลา', url:'/api/Date_manage', icon:'fa-clock'} ] %>

<% const menu = [{name:'หน้าหลัก', url:'/api/mainpage', icon:'fa-home'}, {name:'โปรไฟล์ [รอแก้ไข]', url:'/api/User_history', icon:'fa-user'}, {name:'แดชบอร์ด [รอแก้ไข]', url:'/api/dashboard', icon:'fa-dashboard'}, {name:'ครุภัณฑ์', url:'/api/asset', icon:'fa-archive'}] %>

<div class="nav-left-sidebar sidebar-light">
    <div class="menu-list">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-column">
                    <!-- admin or user -->
                    <% if (user.role == 1 || user.role == 3) { %>
                        <!-- superadmin or admin -->
                        <% menuAdmin.forEach(item => { %>
                            <li class="nav-item">
                                <a <%- activeURL==item.url ? 'class="nav-link active"' : 'class="nav-link"' %>  href="<%= item.url %>" aria-expanded="false"><i class="fa <%= item.icon %> "></i><%= item.name %>
                                </a>
                            </li>
                        <% }) %>
                    <% } else if (user.role == 2) { %>
                        <!-- user -->
                        <% menu.forEach(item => { %>
                            <li class="nav-item">
                                <a <%- activeURL==item.url ? 'class="nav-link active"' : 'class="nav-link"' %>  href="<%= item.url %>" aria-expanded="false"><i class="fa <%= item.icon %>"></i><%= item.name %>
                                </a>
                            </li>
                        <% }) %>
                    <% } %>                                        
                </ul>
            </div>
        </nav>
    </div>
</div>