<% const menu = [{name:'แดชบอร์ด', url:'/api/dashboard'}, {name:'ครุภัณฑ์', url:'/api/asset'}] %> 

<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <div class="container-fluid">
        <div>
            <a class="navbar-brand" href="#">
                <img src="/img/itlogo.png" alt="ITschool Logo" style="width:40px;" class="rounded-pill">
            </a>
            <span id="school" class="navbar-text">สำนักวิชาเทคโนโลยีสารสนเทศ</span>
            <span id="year" class="navbar-text mx-4">ตรวจนับประจำปี <%= user.year %></span>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="nav nav-pills">
                <% menu.forEach(item => { %>
                    <li class="nav-item">
                        <a <%- activeURL==item.url ? 'class="nav-link active"' : 'class="nav-link"' %> href="<%= item.url %>"><%= item.name %> </a>
                    </li>
                <% }) %>
                <!-- <li class="nav-item">
                    <a class="nav-link active" href="#">แดชบอร์ด</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">รายการครุภัณฑ์</a>
                </li> -->
            </ul>
        </div>
        <ul>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"><%= user.name %></a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/api/auth/signout">ออกจากระบบ</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>