<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs') %>
    <style>
        #selectYear {
            width: 100px;
        }
    </style>   
</head>

<body>
    <!-- navbar -->
    <%- include('./partials/topbar.ejs') %>
    
    <!-- main content -->
    <div class="container">                
        <div class="row mb-4">
            กรุณาเลือกปี
            <select id="selectYear" class="mx-2">
                <% years.forEach(year => { %>
                    <option value="<%= year.Year %>"> <%= year.Year %> </option>
                <% }) %>
            </select>
        </div>
        
        <!-- array to define dashboard properties -->
        <% const title = [{title: 'ครุภัณฑ์ทั้งหมด', bgcolor: 'style=background-color:#eeefff', img: '/img/all.png', id: "all"}, {title: 'ครุภัณฑ์ปกติ', bgcolor: 'style=background-color:#e7f5ee', img: '/img/normal.png', id: "normal"}, {title: 'ครุภัณฑ์เสื่อมสภาพ', bgcolor: 'style=background-color:#f9f2d5', img: '/img/fix.png', id: "degraded"}, {title: 'ครุภัณฑ์สูญหาย', bgcolor: 'style=background-color:#fbe1d3', img: '/img/dis.png', id: "lost"}] %> 
        
        <!-- Dashboard -->
        <div class="row">
            <!-- Loop to display each dashboard item -->
            <% for( let index = 0; index < title.length; index++ ) { %> 
            <div class="col-md-3">
                <div class="card border-left-success py-2" <%= title[index].bgcolor %>>
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <h5><%= title[index].title %> </h5>
                                <h1 id=<%= title[index].id %>> 0 </h1>
                            </div>
                            <div class="col-auto">
                                <img src=<%= title[index].img %> style="width:70%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
        </div> 

        <script src="/views/dashboard.js"></script>
</body>
</html>